@import "_color.scss";

/*

　ドロップダウンメニュー

*/
.page section ul.dropmenu{
  width: 718px;
  margin: 0 auto;
}
.page section ul.dropmenu:after{
  clear: both;
}
.page section ul.dropmenu li{
  position: relative;
  width: 20%;
  float: left;
  text-align: center;
  margin: 0;
  list-style-type: none;
}
.page section ul.dropmenu li a{
  display: block;
  background: $frog-green;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 0;
  text-decoration: none;
}
.page section ul.dropmenu li ul{
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0%;
}
.page section ul.dropmenu li ul li{
  width: 100%;
}
.page section ul.dropmenu li ul li a{
  padding: 0.5em 0;
  border-top: 1px solid darken($frog-green, 50%);
  background: darken($frog-green, 10%);
  text-align: center;
}
.page section ul.dropmenu li:hover > a{
  background: darken($frog-green, 5%);
}
.page section ul.dropmenu li a:hover{
  background: darken($frog-green, 5%);
}

/*アニメーションなし*/
#normal li ul{
  display: none;
}
#normal li:hover ul{
  display: block;
}

/*フェードイン*/
#fade-in li ul{
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#fade-in li:hover ul{
  visibility: visible;
  opacity: 1;
}
