#footer {
  width: 100%;
  color: #A41FC2;
  font-size: 0.9em;
  font-weight: 600;
  background: linear-gradient(#8FC31F 0%, #a9df36 50%, #8FC31F 100%); }

#copyright {
  padding: 1em 0;
  text-align: center; }
