#footer {
  width: 100%;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 600;
  background: #607438; }
  #footer a {
    color: #ffffff; }

#copyright {
  padding: 1em 0;
  text-align: center; }
