@charset "UTF-8";
/* 1024px以上用*/
@media screen and (min-width: 1024px) {
  section#branding {
    height: 407px;
    background-image: url("../../used/img/frog-x1024.png"); }
  #site-title {
    padding: 1em 0 0 1em; } }

/* 1024px以下用*/
@media screen and (max-width: 1024px) {
  section#branding {
    background: #000; }
  #site-title {
    padding: 0.2em; } }

#header {
  width: 100%; }

#site-title {
  font-size: 3em;
  margin: 0px; }
  #site-title a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; }

#site-title:first-letter {
  color: #8BC213;
  font-size: 1.5em; }

#site-description {
  display: none; }

nav#menu {
  background: #000; }
  nav#menu a {
    color: #ffffff; }

#menu-menu-1 {
  display: flex; }

#menu-menu-1 li {
  margin: 0px;
  padding: 0 0.5em;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #fff; }
