#header {
  width: 100%; }

#site-title {
  font-size: 3em;
  text-shadow: 1px 1px 5px #000;
  margin: 0.5em 0px; }
  #site-title a {
    text-decoration: none;
    color: #333; }

nav#menu {
  position: fixed;
  top: 0px;
  left: 0px; }

#menu-menu-1 {
  display: flex; }

#menu-menu-1 li {
  margin: 0px;
  padding: 0 1em;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #000000; }

#menu-menu-1 li:nth-child(1) {
  border-width: 0 1px; }
