#header {
  width: 100%; }

section#branding {
  height: 407px;
  background-image: url("../../used/img/frog-x1024.png"); }

#site-title h1 {
  font-size: 3em;
  margin: 0px;
  padding: 1em 0 0 1em; }
  #site-title h1 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; }

#site-title h1:first-letter {
  color: #8BC213;
  font-size: 1.5em; }

#site-description {
  display: none; }

nav#menu {
  background: #000; }
  nav#menu a {
    color: #ffffff; }

#menu-menu-1 {
  display: flex; }

#menu-menu-1 li {
  margin: 0px;
  padding: 0 1em;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #fff; }

#menu-menu-1 li:nth-child(1) {
  border-width: 0 1px; }
